<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class=container>
      <h1>Simple Guestbook CI/CD</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">New Entry</h3>
        </div>
        <div class="panel-body">
          <form role="form" action="" method=post>
              <div class="form-group">
                <textarea class="form-control" name=entry rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <ul class="list-group">
        {% for entry in entries %}
        <li class="list-group-item entry">{{ entry.decode() }}</li>
        {% endfor %}
      </ul>
      <form role=form action="/clear" method=post>
        <button type="submit" class="btn btn-danger">Clear Entries</button>
      </form>
    </div>
  </body>
</html>
